.team1 {
    display: flex;
    flex-direction: row;
    font-size: 36px;
    font-weight: 600;
    align-items: center;
    padding: 10px;
    gap: 15px;
    color: rgb(32, 135, 198);
}

.team1 img {
    width: 80px;
    height: 80px;
}

.team1 .joinTeam {
    margin-left: auto;
    align-items: flex-end;
    background-color: rgba(34, 209, 34, 0.849);
    border-radius: 8px;
    padding: 7px;
    color: white;
}

.joinTeam a {
    color: inherit;
    text-decoration: none;
}

.solid {
    border: 2px solid #bbb;
    width: auto;
    margin-top: 10px;
}

.top {
    display: flex;
    flex-direction: row;
}

.container4 {
    display: flex;
    background-color: grey;
    border-radius: 20px;
    margin-left: 15px;
    width: 500px;
    max-height: 75%;
}

.container2 {
    display: flex;
    background-color: grey;
    border-radius: 20px;
    margin-left: 15px;
    width: 600px;
    
}

.desc {
    color: white;
    padding: 10px;
    font-size: 18px;
}

.container4 .roster {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    gap: 10px;
    max-width: 600px;

}

.container4 .roster img {
    width: 45px;
    height: 45px;
    background-color: white;
    margin-right: 5px;
}

.container4 .roster a{
    color: white;
    text-decoration: none;
}

.roster-header {
    color: gold;
    font-size: 28px;
    font-weight: 500;
    width: 500px;
    text-align: center;
    margin: 5px;
}

.desc-header {
    color: gold;
    font-size: 28px;
    font-weight: 500;
    width: 600px;
    text-align: center;
    margin: 5px;
}

.playersOnTeam > *{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
}

.last-match {
    position: absolute;
    bottom: 25px;
    left: 20px;
    right: 20px;
    padding-top: 10px;
}

.last-match-header {
    text-align: center;
    color: gold;
    font-size: 28px;
    font-weight: 500;
}

.last-match-container {
    background-color: grey;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0px 40px 0px 40px;
    margin-left: 20px;
    margin-right: 20px;
    
}

.last-match-container > div {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
    align-items: center; 
}

.last-match-container > div:first-child {
    display: flex;
    gap: 25px;
}

.last-match-container > div:last-child {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.teamz {
    font-size: 36px;
    color: aquamarine;
}

.date {
    font-size: 18px;
    font-weight: 500;
}

.last-match-container img {
    width: 80px;
    height: 80px;
}

.scoreDisplay {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    margin-bottom: -40px;
    font-size: 28px;
    font-weight: 700;
}

.theScore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 5px;
}

.w {
    color: rgb(30, 197, 30);
}

.l {
    color: red;
}

.team-sport-header {
    color: gold;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin: 10px;
}

.team-sport-container {
    display: flex;
    background-color: grey;
    border-radius: 20px;
    margin-left: 15px; 
    height: fit-content
}

.sport-info {
    padding-left: 15px;
    color: black;
    font-size: 22px;
    font-weight: 500;
}

.sport-info-description {
    font-size: 18px;
    color: white;
    padding-left: 15px;
    margin-top: -20px;
    font-weight: 500;
    font-style: italic;
}