.orgContainer {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 900px;
    padding-bottom: 200px;
    margin: auto;
    padding: 0px 20px;
}

.orgPageTitle {
    text-align: center;
    font-weight: 800;
    font-size: 64px;
    padding-top: 75px;
    padding-bottom: 100px;
    color: rgb(211, 139, 6);
    margin-bottom: 0px;
}

.orgContainer a {
    text-align: center;
    font-size: 40px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    
}