.container1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    margin: auto;
    padding-left: 20px;
}

.match-info {
    font-weight: 500;
    padding-top: 10px;
    text-align: center;
}

.team-display {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
    gap: 180px
}

.team-display > img{
    margin: 0px -160px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.team {
    color: cadetblue;
    font-weight: 500;
}

.solid {
    border: 2px solid #bbb;
    width: 700px;
}

.roster-display {
    margin: 0px auto;
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
}